@font-face {
    font-family: "Fake Identity";
    src: url("fonts/Fake\ Identity.ttf");
}




h1{
    color: darkviolet;
    letter-spacing: 20px;
    font-family: "Fake Identity";

}
h2{
    color: darkviolet;
   word-spacing: 40px ;
    }
    p{ text-indent: 50px;
        text-align: center;
    }
   
    h3{ 
        text-decoration: overline;
    }

    h4{ 
        text-decoration: line-through;
    }

    h5{ 
        text-decoration: underline;
    }

    .myElement{
        color: blue;
        text-decoration: line-through;
        text-indent: 50px;
        text-align: center;
    }